/* Regole generali */
body {
    margin: 0;
}


#main-header{
    height: 135px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
    background-size: 511px;
    background-position-x: -150px ;
}

#logo{
    
}