/* Regole generali */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: lightskyblue;
}

ul{
    padding-inline-start: 0;
    list-style-position: inside;

}

.text-gray{
    color: gray;
}

.text-small{
font-size: 12px;
}


main{
    margin: 5px;
}


#main-header{
    height: 105px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
    background-size: 417px;
    background-position-x: -351px ;
}

#logo{
    height: 50px;
    width: auto;
    margin-top: 45px;
}

h1{
    font-size: 50px;
    margin-bottom: 0;
}

.article-pictures{

    margin: 20px 0;

}

/* tabella */

table{
    border-collapse: collapse;
}

th{
    text-align: left;
    background-color: #1FAAE6;
    color: white;
}

tr{
    background-color:lightblue ;
}

.cel-50{
    width: 50%;
}

.bg-white{
    background-color: white;
}

.related-article{
    color: white;
    height: 150px;
    width: 210px;
    background-position: center;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

#monitor{
    font-weight: bold;
    color: white;
    height: 150px;
    width: 210px;
    background-position: center;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;

}

#graph{
    font-weight: bold;
    color: white;
    height: 150px;
    width: 210px;
    background-position: center;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;


}
