/* Regole generali */
body {
    margin: 0;
}

a{
    text-decoration: none;
    color: lightskyblue;
}

.text-gray{
    color: gray;
}

.text-small{
font-size: 12px;
}


main{
    margin: 5px;
}


#main-header{
    height: 105px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
    background-size: 417px;
    background-position-x: -351px ;
}

#logo{
    height: 50px;
    width: auto;
    margin-top: 45px;
}

h1{
    font-size: 50px;
    margin-bottom: 0;
}

.article-pictures{

    margin: 20px 0;
    
}